* {
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    background-color: #1f2937;
    padding: 0 3em 1em 3em;
}

.top_pane {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #f9faf8;
}

nav {
    color: #e5e7eb;
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

.hero {
    display: flex;
    align-items: center;
}

.hero > .left > header {
    color: #f9faf8;
}

.hero > .left > p {
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
}

.hero > .right {
    background-color: rgb(76, 76, 76);
    display: flex;
    color: #f9faf8;
    align-items: center;
    padding: 1em;
}

.quote {
    background-color: #e5e7eb;
}

footer {
    background-color: #1f2937;
}