* {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
}

.centered {
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-stretch {
    align-items: stretch;
}

.gap {
    gap: 1em;
}

.column {
    flex-direction: column;
}

.dark-background {
    background-color: #1f2937;
}

.grey-background {
    background-color: #e5e7eb;
}

.blue-background {
    background-color: #3882f9;
}

.biggest-bold-text {
    font-size: 48px;
    font-weight: bolder;
}

.big-bold-text {
    font-size: 36px;
    font-weight: bolder;
}

.big-italic-text {
    font-size: 36px;
    font-style: italic;
}

.medium-text {
    font-size: 24px;
}

.small-text {
    font-size: 18px;
}

.white-text {
    color: #f9faf8;
}

.grey-text {
    color: #e5e7eb;
}

.dark-text {
    color: #1f2937;
}

.blue-outline-box {
    height: 100px;
    width: 100px;
    border: 2px solid #3882f9;
}

.margin {
    margin: 2em;
}

.padding {
    padding: 2em 4em;
}

.rounded-corners {
    border-radius: 0.5em;
}

.grey-box {
    background-color: darkgray;
    width: 500px;
}

.right-aligned {
    text-align: right;
}